.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: #364AB0;
}